@model CommissionAPITestingTool.Models.RemoteCommissionModel

<div>
    @if (Model != null && !Model.IsErrorOccured)
    {
        if (Model.CommissionExists)
        {
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.TourCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TourCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ApplyBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApplyBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AppliedOrigin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AppliedOrigin)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AppliedDestination)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AppliedDestination)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CommissionValue)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CommissionValue)
                </dd>

            </dl>
        }
        else
        {
            <h5>Commission not available !!</h5>
        }
    }
    else
    {
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.ErrorMsg)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ErrorMsg)
            </dd>
        </dl>
    }
</div>